<div class="container">
  <h2 class="center-align">PLATAFORMA ASIVA</h2>
  <div class="row">
    <div class="col s12 m6 l3 center-align">
      <div class="card">
        <div class="card-content">
          <i class="material-icons large">poll</i>
          <h5>EMPRESAS</h5>
          <p>Actualmente contamos con  {{totalEmpresas}} empresas registradas</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3 center-align">
      <div class="card">
        <div class="card-content">
          <i class="material-icons large">people_outline</i>
          <h5>CONTACTOS</h5>
          <p>Se han desarrollado {{totalContactos}} contactos dentro de nuestra plataforma</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3 center-align">
      <div class="card">
        <div class="card-content">
          <i class="material-icons large">local_shipping</i>
          <h5>PRODUCTOS Y SERVICIOS</h5>
          <p>Las empresas registradas ofrecen mas de {{totalProductos}} productos y servicios</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3 center-align">
      <div class="card">
        <div class="card-content">
          <i class="material-icons large">public</i>
          <h5>RED</h5>
          <p>Forma parte de nuestra red para buscar la información de nuestros socios y dar a conocer tu empresa</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 offset-m4">

      <a (click)="irLogin()" class="btn waves-effect waves-light col s12">ACCEDER A LA PLATAFORMA</a>
    </div>
  </div>

</div>